html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  height: 100%;
}

.dark-mode {
  background-color: #2b2b2b;
}

.dark-mode-form {
  background-color: #2b2b2b;
  color: rgba(236, 240, 241, 0.3);

}

.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn-dark {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #275ac6;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.botao {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: 0px;
  border-radius: 2px;
}

.botao_cancelar {
  width: 32%;
  background-color: red;
  cursor: pointer;
  border: 0px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-style: outset;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.foto {
  width: 20px;
  height: 20px;
}

.logo {
  width: 5rem;
  padding: 0.5%;
}

.subtitle {
  font-weight: bold;
}

.appbar {
  width: 100%;
  background-color: #f7d736;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.appbar-dark {
  width: 100%;
  background-color: #275ac6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-card {
  color: #fff;
  margin: auto;
  margin-top: 1.5%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding: 15px;
  border-style: outset;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.form-card-title {
  border-style: none;
  padding-top: 0.1rem;
  font-size: 30px;
  align-items: center;
}

.autoresize {
  border-style: none;
  font-size: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-style: outset;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-title {
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 2rem;
  font-size: 20px;
}

.card-content {
  flex-wrap: wrap;
  font-family: 'Permanent Marker', cursive;
  color: #515151;
  display: flex;
  justify-content: center;
}

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #abe9c1;
}

.card-color-3 {
  background-color: #fae890;
}

.card-color-4 {
  background-color: #ef89ba;
}
.card-color-5 {
  background-color: #9de0f5;
}


.card-rotation-1 {
  transform: rotate(-3.5deg)
}

.card-rotation-2 {
  transform: rotate(-2.8deg)
}

.card-rotation-3 {
  transform: rotate(-2.1deg)
}

.card-rotation-4 {
  transform: rotate(-1.4deg)
}

.card-rotation-5 {
  transform: rotate(-0.7deg)
}

.card-rotation-6 {
  transform: rotate(0deg)
}

.card-rotation-7 {
  transform: rotate(0.7deg)
}

.card-rotation-8 {
  transform: rotate(1.4deg)
}

.card-rotation-9 {
  transform: rotate(2.1deg)
}

.card-rotation-10 {
  transform: rotate(2.8deg)
}

.card-rotation-11 {
  transform: rotate(3.5deg)
}

.format {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}