<div class="card">
    <div class="format">
        <h3 class="card-title">{title}</h3>
        <div style="display: flex;flex-direction: row;">
            <a href="edit/{id}">
                <button class="botao" type="submit">
                    <img  class = "foto" src="img/edit.png" alt="buttonpng"/>
                </button>
            </a>
            <a href="delete/{id}">
                <button class="botao" type="submit">
                    <img  class = "foto" src="img/bin.png" alt="buttonpng"/>
                </button>
            </a>
        </div>
    </div>
    <div class="card-content">{details}</div>
    
</div>